html {
    background: url(images/bg.jpg); 
    background-repeat: no-repeat;    
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 200px;
    margin-bottom: 300px;
}

#title {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #E73434;
}
ul {
    background-color: rgb(49, 78, 141);
    text-align: right;
    position: relative;
    margin: 0px;
}

ul li {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        margin: 20px;
        color: #FFF;
        }

.video {
    width: 30%;
    float: left;
}
.info {
    width: 50%;
    height: auto;    
    float: right;
    border: 1px dashed gray;
    padding: 10px;
}
.row {
    background-color: #FFF;
    padding: 20px;
    overflow: auto;
}
footer {
    background-color: rgb(49, 78, 141);
    text-align: left;
    position: relative;
    margin: 0px;
    padding: 20px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
img {
    width: 10px;
    height: 10px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #FFF;
}

a:hover {
    color:#8F9BCF;
}